@media (max-width: 768px) {
    .slogan p {
        font-size: 1em;
        text-align: center;
        padding: 0 10px;
    }

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        height: auto;
        padding: 20px 20px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 10px;
    }

    .menu a {
        background-color: #2a2a2a;
        color: white;
        border: 1px solid #555;
        border-radius: 5px;
        font-size: 1em;
        padding: 10px;
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .logo img {
        height: 70px;
    }

    .slogan p {
        font-size: 1em;
        margin: 0;
        padding: 0 10px;
    }

    .contato p {
        font-size: 1em;
        margin: 0;
    }

    .icones-contato img {
        height: 30px;
        width: 30px;
    }

    main {
        padding: 20px;
    }

    footer .icones-contato {
        gap: 15px;
    }

    footer .icones-contato img {
        height: 30px;
    }

}